<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
<meta charset="UTF-8">
<title
	th:text="|${#temporals.format(date, 'yyyy/M/d')}の${room.roomName}|">2016/5/20の豊洲</title>
</head>
<body th:with="user=${#authentication.principal.user}">

	<div layout:fragment="content" data-replace="">
		<div class="form-group">
			<div class="card">
				<div class="card-block">
					<h5 class="card-header" th:text="会議室予約一覧"></h5>
				</div>
			</div>
		</div>
		<div class="container">
			<div>
				<a th:href="@{'/rooms/' + ${date}}">会議室一覧へ</a>
			</div>
			<p style="color: red" th:if="${error != null}" th:text="${error}"></p>

			<form th:object="${reservationForm}"
				th:action="@{'/reservations/' + ${date} + '/' + ${roomId}}"
				method="post">
				<div class="form-group">
					<div class="card">
						<div class="card-block">
							<h5 class="card-header">会議室</h5>
							<span th:text="${room.roomName}">豊洲</span>
						</div>
						<div class="card-block">
							<h5 class="card-header">予約者名</h5>
							<span th:text="${user.lastName + ' ' + user.firstName}">山田
								太郎</span>
						</div>
						<div class="card-block">
							<h5 class="card-header">日付</h5>
							<span th:text="${#temporals.format(date, 'yyyy/M/d')}">2016/5/20</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="card">
						<h5 class="card-header">時間帯</h5>
						<div class="card-block">
							<div class="form-inline">
								<select class="form-control col-md-2" th:field="*{startTime}">
									<option th:each="time : ${timeList}" th:text="${time}"
										th:value="${time}">09:00</option>
								</select>&nbsp;～&nbsp; <span th:if="${#fields.hasErrors('startTime')}"
									th:errors="*{startTime}" style="color: red">error!</span> <select
									class="form-control col-md-2" th:field="*{endTime}">
									<option th:each="time : ${timeList}" th:text="${time}"
										th:value="${time}">10:00</option>
								</select> <span>
									<button class="btn btn-primary">予約</button>
								</span> <span th:if="${#fields.hasErrors('endTime')}"
									th:errors="*{endTime}" style="color: red">error!</span>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>

		<div class="container">
			<table class="table table-sm">
				<thead class="thead-default">
					<tr>
						<th>時間帯</th>
						<th>予約者</th>
						<th>操作</th>
						<th>帳票</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="reservation : ${reservations}">
						<td><span th:text="${reservation.startTime}"></span> - <span
							th:text="${reservation.endTime}"></span></td>
						<td><span th:text="${reservation.user.lastName}"></span> <span
							th:text="${reservation.user.firstName}"></span></td>
						<td>
							<form th:action="@{'/reservations/' + ${date} + '/' + ${roomId}}"
								method="post"
								sec:authorize="${hasRole('ADMIN') or #vars.user.userId == #vars.reservation.user.userId}">
								<input type="hidden" name="reservationId"
									th:value="${reservation.reservationId}" /> <input
									type="submit" class="btn btn-secondary" name="cancel"
									value="取消" />
							</form>
						</td>
						<td>
							<form th:action="@{'/reservations/' + ${date} + '/' + ${roomId}}"
								method="get"
								sec:authorize="${hasRole('ADMIN') or #vars.user.userId == #vars.reservation.user.userId}">
								<input type="hidden" name="reservationId" th:value="${reservation.reservationId}" />
								<input type="hidden" name="startEndTime" th:value="${reservation.startTime} + ' - ' + ${reservation.endTime}" />
								<input
									type="submit" class="btn btn-secondary" name="excel"
									value="XLSX" />
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>
