<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
<meta charset="UTF-8">
<title th:text="|${#temporals.format(date, 'yyyy/M/d')}の会議室|">2016/5/20の会議室</title>
</head>
<body>
	<div layout:fragment="content" data-replace="">
		<div class="form-group">
			<div class="card">
				<div class="card-block">
					<h5 class="card-header" th:text="会議室一覧"></h5>
				</div>
			</div>
		</div>
		<div class="container">
			<a th:href="@{'/rooms/' + ${date.minusDays(1)}}">&lt; 前日</a> <span
				th:text="|${#temporals.format(date, 'yyyy/M/d')}の会議室|">2016/5/20の会議室</span>
			<a th:href="@{'/rooms/' + ${date.plusDays(1)}}">翌日 &gt;</a>
			<div class="row">
				<div class="col-md-12">
					<table class="table">
						<thead>
							<tr>
								<th>room:</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="room : ${rooms}">
								<td><a
									th:href="@{'/reservations/' + ${date} + '/' + ${room.meetingRoom.roomId}}"
									th:text="${room.meetingRoom.roomName}"> </a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>